# Chapter 7. Tuples and Lists

# tuple

In [2]:
empty_tuple = ()    
empty_tuple

()

In [1]:
one_marx = 'Groucho',       # 沒有 ,  不是Tuple ， is str  : 記得1個值，需加 ,
one_marx

('Groucho',)

In [5]:
one_marx = ('Groucho',)    # 正規寫法
one_marx

('Groucho',)

In [6]:
one_marx = ('Groucho')
one_marx
type(one_marx)

str

In [7]:
marx_tuple = ('Groucho', 'Chico', 'Harpo')
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [8]:
one_marx = 'Groucho',
print(type(one_marx))

print(type('Groucho',))

print(type(('Groucho',)))

# Tuples let you assign multiple variables at once:
marx_tuple = ('Groucho', 'Chico', 'Harpo')
a, b, c = marx_tuple
print("a={}".format(a))

print("b={}".format(b))

print("c={}".format(c))

<class 'tuple'>
<class 'str'>
<class 'tuple'>
a=Groucho
b=Chico
c=Harpo

In [11]:
password = 'swordfish'
icecream = 'tuttifrutti'
password, icecream = icecream, password
print('password ={}'.format(password))
print('icecream ={}'.format(icecream))

password =tuttifrutti
icecream =swordfish

In [12]:
marx_list = ['Groucho', 'Chico', 'Harpo']
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')

In [13]:
tuple1=('Groucho',) + ('Chico', 'Harpo')
print(tuple1)

('Groucho', 'Chico', 'Harpo')

In [14]:
tuple2= ('yada',) * 3
tuple2

('yada', 'yada', 'yada')

In [15]:
a = (7, 2)
b = (7, 2, 9)
print(a == b)

print(a <= b)

print(a < b)

print(a>=b)

print(a>b)

False
True
True
False
False

In [16]:
words = ('fresh','out', 'of', 'ideas')
for word in words:
    print(word)

fresh
out
of
ideas

In [18]:
t1 = ('Fee', 'Fie', 'Foe')
t2 = ('Flop',)
t1 + t2

('Fee', 'Fie', 'Foe', 'Flop')

In [19]:
t1 = ('Fee', 'Fie', 'Foe')
t2 = ('Flop',)
t1 += t2      # t1 = ti+t2
t1

('Fee', 'Fie', 'Foe', 'Flop')

In [21]:
t1 = ('Fee', 'Fie', 'Foe')
t2 = ('Flop',)
print(id(t1))       # id is 記憶體位址

t1 += t2
print(id(t1))       # id is 記憶體位址

# python 每個值是一個物件，每個物件有一個記憶體位置 ，因為t1 值前後不一樣，所以Id 不一樣
t2 = t1
print(id(t2))   # t1 & t2 值一樣，所以指向同一個記憶體位址，id 是一樣

2297153836096
2297155191648
2297155191648

# list

In [2]:
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']
leap_years = [2000, 2004, 2008]
randomness = ['Punxsatawney', {"groundhog": "Phil"}, "Feb.2"]

In [28]:
another_empty_list = list()
another_empty_list

[]

In [3]:
list('cat')

['c', 'a', 't']

In [32]:
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [33]:
talk_like_a_pirate_day = '9/19/2019'
talk_like_a_pirate_day.split('/')  # split() 後 result change list

['9', '19', '2019']

In [34]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [35]:
splitme = 'a/b//c/d///e'
splitme.split('//')

['a/b', 'c/d', '/e']

In [36]:
marxes = ['Groucho', 'Chico', 'Harpo']     # list index from 0 to end-1
print('marxes[0]={}'.format(marxes[0]))
print('marxes[1]={}'.format(marxes[1]))
print('marxes[2]={}'.format(marxes[2]))

marxes[0]=Groucho
marxes[1]=Chico
marxes[2]=Harpo

In [37]:
print('marxes[-1]={}'.format(marxes[-1]))    # list index 負數從後面算最後一個 -1
print('marxes[-2]={}'.format(marxes[-2]))
print('marxes[-3]={}'.format(marxes[-3]))

marxes[-1]=Harpo
marxes[-2]=Chico
marxes[-3]=Groucho

In [4]:
score = [85, 79, 93]
print("國文成績：%d 分" % score[0])
print("數學成績：%d 分" % score[1])
print("英文成績：%d 分" % score[2])

國文成績：85 分
數學成績：79 分
英文成績：93 分

In [11]:
r1 = range(3,8,2)
list1 = list(r1)
print(f'list1 = {list1}')

r2=(10,'mika',True)
list2 = list(r2)
print(f'list2 = {list2}')

r3 = range(8,3,-1)
list3 = list(r3)
print(f'list3 = {list3}')

list1 = [3, 5, 7]
list2 = [10, 'mika', True]
list3 = [8, 7, 6, 5, 4]

In [38]:
marxes = ['Groucho', 'Chico', 'Harpo']
print(marxes[0:2])      # [0:2] is start 0 to end-1  : 所以只show list[0],list[1]

['Groucho', 'Chico']

In [39]:
 marxes[::2]      # list all ，但是間隔2 : list[0] & list[2]

['Groucho', 'Harpo']

In [40]:
marxes[::-2]   # 反過來，但是間隔2 : list[2],list[0]

['Harpo', 'Groucho']

In [41]:
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

In [46]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.reverse()
print(marxes)

['Harpo', 'Chico', 'Groucho']

In [47]:
marxes = ['Groucho', 'Chico', 'Harpo']
print("marxes[4:]={}".format(marxes[4:]))
print("marxes[-6:]={}".format(marxes[-6:]))
print("marxes[-6:-2]={}".format(marxes[-6:-2]))
print("marxes[-6:-4]={}".format(marxes[-6:-4]))

marxes[4:]=[]
marxes[-6:]=['Groucho', 'Chico', 'Harpo']
marxes[-6:-2]=['Groucho']
marxes[-6:-4]=[]

In [48]:
marxes = ['Groucho', 'Chico', 'Harpo']  
marxes.append('Zeppo')    # append 加到最後
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [50]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.insert(2, 'Gummo')    # 在index=2 插入
print(marxes)

['Groucho', 'Chico', 'Gummo', 'Harpo']

In [51]:
['Groucho', 'Chico', 'Gummo', 'Harpo']
marxes.insert(10, 'Zeppo')   # because  沒有index =10 ，so 插最後
marxes

['Groucho', 'Chico', 'Gummo', 'Harpo', 'Zeppo']

In [52]:
testlist = ["blah"] * 3
testlist

['blah', 'blah', 'blah']

In [55]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.extend(others)  # +在最後
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [57]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes += others
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [58]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.append(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

In [59]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[2] = 'Wanda'  #change list[2] item
marxes

['Groucho', 'Chico', 'Wanda']

In [60]:
numbers = [1, 2, 3, 4]
numbers[1:3] = [8, 9]
numbers

[1, 8, 9, 4]

In [61]:
numbers = [1, 2, 3, 4]
numbers[1:3] = [7, 8, 9]
print("numbers = {}".format(numbers))
    
numbers[1:3] = []                       # delete list[1],list[2]
print("numbers = {}".format(numbers))

numbers = [1, 2, 3, 4]
numbers[1:3] = (98, 99, 100)
print("numbers = {}".format(numbers))

numbers = [1, 2, 3, 4]
numbers[1:3] = 'wat?'
print("numbers = {}".format(numbers))

numbers = [1, 7, 8, 9, 4]
numbers = [1, 9, 4]
numbers = [1, 98, 99, 100, 4]
numbers = [1, 'w', 'a', 't', '?', 4]

In [62]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']

del marxes[-1]
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo']

In [63]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo']
del marxes[1]
marxes

['Groucho', 'Harpo', 'Gummo']

In [64]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.remove('Groucho')
marxes

['Chico', 'Harpo']

In [67]:
# pop()
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
test = marxes.pop()                      # 從最後一個取出來，並刪除
print("marxes.pop() = {}".format(test))
print("marxes = {}".format(marxes))
test2 = marxes.pop(1)                    # 從index[1] 取出來，並刪除
print("marxes.pop(1) = {}".format(test2))
marxes

marxes.pop() = Zeppo
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.pop(1) = Chico

['Groucho', 'Harpo']

In [68]:
# clear()
work_quotes = ['Working hard?', 'Quick question!', 'Number onepriorities!']
print(work_quotes)

work_quotes.clear()
work_quotes

['Working hard?', 'Quick question!', 'Number onepriorities!']

[]

In [69]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index('Chico')

1

In [71]:
simpsons = ['Lisa', 'Bart', 'Marge', 'Homer', 'Bart']
simpsons.index('Bart')

1

In [72]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
'Groucho' in marxes    # True
'Bob' in marxes

False

In [73]:
words = ['a', 'deer', 'a' 'female', 'deer']
'deer' in words

True

In [75]:
#count()
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.count('Harpo')

1

In [76]:
snl_skit = ['cheeseburger', 'cheeseburger', 'cheeseburger']
snl_skit.count('cheeseburger')

3

In [80]:
# Convert a List to a String with join()
marxes = ['Groucho', 'Chico', 'Harpo']
a = ','.join(marxes)     # join 後變成 str
print(a)
type(a)

Groucho,Chico,Harpo

str

In [81]:
friends = ['Harry', 'Hermione', 'Ron']
separator = ' * '
joined = separator.join(friends)       # list to str
print(joined)

separated = joined.split(separator)    # str to list
print(separated)

Harry * Hermione * Ron
['Harry', 'Hermione', 'Ron']

In [85]:
# Reorder Items with sort() or sorted
# sorted
marxes = ['Groucho', 'Grcico', 'Harpo','1AAA','/Zas']
sorted_marxes = sorted(marxes)   # 依據字母排列: 特殊文字 > 數字 > 大寫 > 小寫 : from  A to z
sorted_marxes

['/Zas', '1AAA', 'Grcico', 'Groucho', 'Harpo']

In [88]:
# sort()
marxes = ['Groucho', 'Grcico', 'Harpo','1AAA','/Zas','c11as']
marxes.sort()
marxes

['/Zas', '1AAA', 'Grcico', 'Groucho', 'Harpo', 'c11as']

In [89]:
numbers = [2, 1, 4.0, 3]
numbers.sort()
numbers

[1, 2, 3, 4.0]

In [90]:
numbers = [2, 1, 4.0, 3]
numbers.sort(reverse=True)
numbers
[4.0, 3, 2, 1]

[4.0, 3, 2, 1]

In [91]:
# len()
marxes = ['Groucho', 'Chico', 'Harpo']
len(marxes)

3

In [92]:
a = [1, 2, 3]
print("a={}".format(a))
b = a
print("a={}".format(a))

a[0] = 'surprise'
print(" Modify a={}".format(a))

print(" Modify b={}".format(b))

a=[1, 2, 3]
a=[1, 2, 3]
 Modify a=['surprise', 2, 3]
 Modify b=['surprise', 2, 3]

# Copy with copy(), list(), or a Slice

In [95]:
a = [1, 2, 3]
print("a = {}".format(a))
b = a.copy()
print("b = {}".format(b))
c = list(a)
print("c = {}".format(c))
d = a[:]
print("d = {}".format(d))

a = [1, 2, 3]
b = [1, 2, 3]
c = [1, 2, 3]
d = [1, 2, 3]

In [96]:
a[0] = 'integer lists are boring'
print("a = {}".format(a))

print("b = {}".format(b))
print("c = {}".format(c))
print("d = {}".format(d))

a = ['integer lists are boring', 2, 3]
b = [1, 2, 3]
c = [1, 2, 3]
d = [1, 2, 3]

In [97]:
a = [1, 2, [8, 9]]
b = a.copy()
c = list(a)
d = a[:]
print("a = {}".format(a))
print("b = {}".format(b))
print("c = {}".format(c))
print("d = {}".format(d))

# So far, so good. Now change an element in that sublist in a:
a[2][1] = 10
print("a = {}".format(a))
print("b = {}".format(b))
print("c = {}".format(c))
print("d = {}".format(d))

a = [1, 2, [8, 9]]
b = [1, 2, [8, 9]]
c = [1, 2, [8, 9]]
d = [1, 2, [8, 9]]
a = [1, 2, [8, 10]]
b = [1, 2, [8, 10]]
c = [1, 2, [8, 10]]
d = [1, 2, [8, 10]]

In [98]:
import copy
a = [1, 2, [8, 9]]
b = copy.deepcopy(a)
print("a = {}".format(a))
print("b = {}".format(b))

a = [1, 2, [8, 9]]
b = [1, 2, [8, 9]]

In [99]:
a = [7, 2]
b = [7, 2, 9]
#a == b
#False
#>>> a <= b
#True
#>>> a < b
#True

In [101]:
cheeses = ['brie', 'gjetost', 'havarti']
for cheese in cheeses:
    if cheese.startswith('g'):
       print("I won't eat anything that starts with 'g'")
       break
    else:
        print(cheese)

brie
I won't eat anything that starts with 'g'

In [102]:
cheeses = ['brie', 'gjetost', 'havarti']
for cheese in cheeses:
    if cheese.startswith('x'):
        print("I won't eat anything that starts with 'x'")
        break
    else:
        print(cheese)
else:
    print("Didn't find anything that started with 'x'")

brie
gjetost
havarti
Didn't find anything that started with 'x'

In [104]:
cheeses = []
for cheese in cheeses:
    print('This shop has some lovely', cheese)
    break
else: # no break means no cheese
    print('This is not much of a cheese shop, is it?')

This is not much of a cheese shop, is it?

In [105]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
   print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [117]:
# Zip 的用法  : 主要用途，可以用來配對
a = [1,2,3]
b = [4,5,6]
c = [4,5,6,7,8]
zipped = zip(a,b)     # 打包为元组的列表
print(zipped)
zipped1 = zip(a,c)             
print(zipped1)
listabs = zip(*zipped)          # 与 zip 相反，*zipped 可理解为解压，返回二维矩阵式
for listab in listabs:
    print("listab={}".format(listab))            # listab is tuple
    print(type(listab))
    listablist=list(listab)                      # change to list
    print(listablist)

<zip object at 0x00000216D910A300>
<zip object at 0x00000216D91E3580>
listab=(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
listab=(4, 5, 6)
<class 'tuple'>
[4, 5, 6]

In [119]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'
# Now, use zip() to pair these tuples. The value returned by zip() is itself
# not a tuple or list, but an iterable value that can be turned into one:
text = list(zip(english, french))
print(text)

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [120]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list

[1, 2, 3, 4, 5]

In [123]:
number_list = []
for number in range(1, 6):
    number_list.append(number)
number_list

[1, 2, 3, 4, 5]

In [124]:
number_list = list(range(1, 6))
number_list

[1, 2, 3, 4, 5]

In [125]:
number_list = [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [126]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [127]:
a_list = [number for number in range(1,6) if number % 2 == 1]
a_list

[1, 3, 5]

In [129]:
a_list = []
for number in range(1,6):
    if number % 2 == 1:
        a_list.append(number)
a_list

[1, 3, 5]

In [130]:
rows = range(1,4)    
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [131]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [132]:
for row, col in cells:
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [138]:
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']
all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]
print(all_birds)
print(all_birds[0])
print(all_birds[0][0])

[['hummingbird', 'finch'], ['dodo', 'passenger pigeon', 'Norwegian Blue'], 'macaw', [3, 'French hens', 2, 'turtledoves']]
['hummingbird', 'finch']
hummingbird

In [12]:
number_thing = (number for number in range(1, 6))
print(list(number_thing))
print(sum(number_thing))

[1, 2, 3, 4, 5]
0

In [15]:
list4 = [1,2,3,4]
x =[8,9]
list41 = list4*2
print("list4*2 = " ,list41)  # list4*2 =  [1, 2, 3, 4, 1, 2, 3, 4]
list42  = list4[1:4]
print("list4[1:4] = " ,list42)              # list1[1:4] =  [2, 3, 4]

list43 = list4[1:4:2]
print("list4[1:4:2] = " ,list43)            # list1[1:4:2] =  [2, 4]

list4*2 =  [1, 2, 3, 4, 1, 2, 3, 4]
list4[1:4] =  [2, 3, 4]
list4[1:4:2] =  [2, 4]

In [16]:
 # ----- del ---------------------
list4 = [1,2,3,4,5,6]
del list4[1:4]    #del
list44=list4
print("del list1[1:4] = " ,list44) # del list1[1:4] =  [1, 5, 6]
#
list4 = [1,2,3,4,5,6]
del list4[1:4:2]
list45=list4
print("del list14[1:4:2] = " ,list45)  # del list1[1:4:2] =  [1, 3, 5, 6]

del list1[1:4] =  [1, 5, 6]
del list14[1:4:2] =  [1, 3, 5, 6]

In [18]:
## ----------len() --------------------
list1 = [["joe","1234"],['mary',"abcd"],['david','5678']]
print('len(list1) = ',len(list1[0]))           # len(list1[0]) =  2

len(list1) =  2

In [20]:
#---min(),max() ----------------------
list4 = [1,2,3,4,5,6]
print('min(list1) = ',min(list4))           # min(list1) =  1
print('max(list1) = ',max(list4))           # max(list1) =  6

min(list1) =  1
max(list1) =  6

In [21]:
# list.index() -------------------------
list4 = [1,2,3,4,5,6]
n=list4.index(3)      # get 3 的index
print('list4.index(3) = ',n)

list4.index(3) =  2

In [22]:
# list.count() --
list4 = [1,2,3,4,5,6]
n=list4.count(3)
print('list4.count(3) = ',n)  # list1.count(3) =  1 :count 3 有幾個

list4.count(3) =  1

In [23]:
# List.append() is important(一次只能加一個)
list4 = [1,2,3,4,5,6]
list4.append(8)   # The append() method can only add one item at a time,
#                 # and it is added at the end of the data group
print('list4 = ', list4)     # list1 =  [1, 2, 3, 4, 5, 6, 8]

list4 =  [1, 2, 3, 4, 5, 6, 8]

In [24]:
##--list.extend()  (一次可以加很多個item)
list4 = [1,2,3,4,5,6]
x=[8,9]
list4.extend(x)   #The extend() method can add multiple data at the end of the original data at once,
                  # but these data must be placed in a List data group or Tuple data group.
print('list4 = ', list4) #list4 =  [1, 2, 3, 4, 5, 6, 8, 8, 9]

list4 =  [1, 2, 3, 4, 5, 6, 8, 9]

In [25]:
## list.insert()------------
list4=[1,2,3,4,5,6]
list4.insert(3,8)      # The insert() method can insert a piece of data into the specified position,
                         # and the original data will automatically go back.
print('list4 = ', list4)      # list4 =  [1, 2, 3, 8, 4, 5, 6]

list4 =  [1, 2, 3, 8, 4, 5, 6]

In [26]:
#list.pop() : 取出item 並刪除--------------------------
list1=[1,2,3,4,5,6]
y=list1.pop(2)                              
print(f'list1.pop(2)={y}\n pop(2)={list1}')

list1.pop(2)=3
 pop(2)=[1, 2, 4, 5, 6]

In [27]:
list1=[1,2,3,4,5,6]
list1.remove(3)           # remove(index)
print('list1.remove(3) = ', list1)    # list1 =  [1, 2, 4, 5, 6]
# -------------------------------------------------------------------------
list1=[1,2,3,4,5,6]
list1.reverse()            # reverse()
print('list1.reverse() = ', list1)  # list1 =  [6, 5, 4, 3, 2, 1]
# ---------------------------------------------------------------------------------
list1.sort()                        # sort()
print('list1 =.sort()  ', list1)    # list1 =  [1, 2, 3, 4, 5, 6]

list1.remove(3) =  [1, 2, 4, 5, 6]
list1.reverse() =  [6, 5, 4, 3, 2, 1]
list1 =.sort()   [1, 2, 3, 4, 5, 6]

In [28]:
list1=[1,2,3,4,5,6]
list1+=['John', -10]        #It's like the extend() method
print('list1+ = ', list1)  # list1+ =  [1, 2, 3, 4, 5, 6, 'John', -10]

list1+ =  [1, 2, 3, 4, 5, 6, 'John', -10]

In [31]:
list1=[1,2,3,4,5,6]
list1.clear()                               # clear()
print(f'list1.clear() = {list1}')                                # []

list1.clear() = []

In [29]:
score = []
total = inscore = 0
while(inscore != -1):
    inscore = int(input("請輸入學生的成績："))
    score.append(inscore)
print("共有 %d 位學生" % (len(score) - 1))
for i in range(0, len(score) - 1):
    total += score[i]
average = total / (len(score) - 1)
print("本班總成績：%d 分，平均成績：%5.2f 分" % (total, average))

請輸入學生的成績：80
請輸入學生的成績：90
請輸入學生的成績：100
請輸入學生的成績：50
請輸入學生的成績：-1
共有 4 位學生
本班總成績：320 分，平均成績：80.00 分

In [32]:
my_favorite_colors = ['blue', 'yellow', 'purple']
color = 'purple'
if color in my_favorite_colors:
     print(color + '是我喜歡的顏色')
else:
     print(color + '不是我喜歡的顏色')

purple是我喜歡的顏色

In [41]:
x = [10, 'a', 'b', 10, 10, 'a']
for item in x:
    n=x.index(item)
    print(f'x[{n}]={item}',end=',')
print()
# t7-------- y的內容也會改變，因為它們是「使用」同一個資料組
y=x          # y=[10, 'a', 'b', 10, 10, 'a']
print(f'y={y}')
x[0]=100     # y=[100, 'a', 'b', 10, 10, 'a']
print('y=',y)    #The content of y will also change because they "use" the same data group
# must use for look------
y = []
z = []
for item in x:
    y.append([item])     #y += [item]   # 也可以寫成y.append([item])
    z.append(item)
print('y.append([item]) =',y)
print('z.append(item) =',z)

x[0]=10,x[1]=a,x[2]=b,x[0]=10,x[0]=10,x[1]=a,
y=[10, 'a', 'b', 10, 10, 'a']
y= [100, 'a', 'b', 10, 10, 'a']
y.append([item]) = [[100], ['a'], ['b'], [10], [10], ['a']]
z.append(item) = [100, 'a', 'b', 10, 10, 'a']

In [42]:
tuple1 = (1,2,3,4,5)
list1 = list(tuple1)
list1

[1, 2, 3, 4, 5]

In [43]:
tuple2 = tuple(list1)
tuple2

(1, 2, 3, 4, 5)