# Chapter 6. Loop with while and for

In [1]:
# Repeat with while
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [3]:
while True:
    stuff = input("String to capitalize [type q to quit]: ")
    if stuff == "q":
        break
    print(stuff.capitalize())

String to capitalize [type q to quit]: mika
Mika
String to capitalize [type q to quit]: q

In [6]:
while True:
    value = input("Integer, please [q to quit]: ")   # value from input is str
    if value == 'q': # quit
        break
    number = int(value)
    if number % 2 == 0: # an even number
        continue
    print(number, "squared is", number*number)

Integer, please [q to quit]: 5
5 squared is 25
Integer, please [q to quit]: 6
Integer, please [q to quit]: 7
7 squared is 49
Integer, please [q to quit]: q

In [10]:
numbers = [1, 3, 5]
print(numbers)
position = 0
while position < len(numbers):
    number = numbers[position]
    if number % 2 == 0:
        print('Found even number', number)
        break
    position += 1    
else: # break not called
       print('No even number found')

[1, 3, 5]
No even number found

In [11]:
word = 'thud'
offset = 0
while offset < len(word):
    print(word[offset])
    offset += 1

t
h
u
d

In [12]:
# But thereâ€™s a better, more Pythonic way:
for letter in word:
    print(letter)

t
h
u
d

In [13]:
word = 'thud'
for letter in word:
    if letter == 'u':
        break
    print(letter)

t
h

In [14]:
for letter in word:
    if letter == 'x':
        print("Eek! An 'x'!")
        break
    print(letter)
else:
    print("No 'x' in there.")

t
h
u
d
No 'x' in there.

In [15]:
for x in range(0,3):     # range(0,3) is 0,1,2 (end-1)
     print(x)

0
1
2

In [16]:
for x in range(2, -1, -1):
    print(x)

2
1
0

In [17]:
list( range(2, -1, -1) )

[2, 1, 0]

In [18]:
list( range(0, 11, 2) )

[0, 2, 4, 6, 8, 10]